[submodule "physics/Radiation/RRTMGP/rte-rrtmgp"]
  path = physics/Radiation/RRTMGP/rte-rrtmgp
  url = https://github.com/NCAR/rte-rrtmgp
  branch = main
[submodule "physics/MP/TEMPO/tempo_v3"]
  path = physics/MP/TEMPO/tempo_v3
  url = https://github.com/grantfirl/TEMPO.git
  branch = tempo_v3_gjf
[submodule "physics/SFC_Layer/MYNN/MYNN"]
  path = physics/SFC_Layer/MYNN/MYNN
  url = https://github.com/NCAR/MYNN-SFC
  branch = ccpp/dev
